//Colores
$principal: #E78A12;
$secundario: #0D3F69;
$colortexto: #313A3D;

//fuentes
$titulos: 'Bebas Neue', cursive;;
$parrafos: 'Roboto Slab', serif;;
$logo: 'Josefin Sans', sans-serif ;
$menu:'Baloo 2', cursive;

* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
  background-color: #F5F5F5;
}


.bg-dark{
    background-color: rgba(0, 0, 0, 0.3) !important;
       a{
        color: $principal !important;
        font-size: 1.7em;
        font-family: $menu;
        font-weight: 200;
        &:hover{
               color: white !important;
               text-decoration: underline;
        }
    }
}

.brandName{
  font-family: $logo !important;
  color: $principal;
  font-size: 2em;
}


.bg-light{
  background-color: transparent !important;
} 
.navbar-brand {
    img{
    margin-left: 15px;
    }
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  li{
    padding: 0 1.2em;
  }
}

.filasContenido{
  margin-bottom: 10em;
  margin-top: 5em;
}

main{
    video{
      object-fit: cover;
      width: 99vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      visibility: visible;
    }
    img{
      object-fit: cover;
      width: 99vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      visibility: visible;
    }

}
$medidaprueba: calc(100%-100px);

  .tituloPagina{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 6em);
    text-align: center;
    .tituloPagina__titulo{
        font-family: 'Josefin Sans', sans-serif;
        color: white ;
        font-size: 7em !important;
       
      }
    }       
  

  .fondoNegro {
  background: rgba(0, 0, 0, 0.5);
  z-index: -4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}



 footer{
   background: black;
   color: white;
   text-align: center;
   height: 4em;
   a{
     color: white !important;
     padding: 3px 10px;
   }
 }




.row__h1{
  color: $colortexto;
  font-size: 3em;
  font-family: $titulos
}
.row__p{
  color: $colortexto;
  font-size: 1.5em;
  font-family: $parrafos
}   
.row__h2{
  font-size: 3em;
  color: $colortexto;
  margin: 0;
  font-family: $titulos
}
.row__p2{
  font-size: 1.8em;
  color: $colortexto;
  font-family: $parrafos
}


//Grid
.gridContainer{
	padding: 10em;
  width: 80%;
  margin: 0 auto;
	display: grid;
	grid-template-rows: 6em 500px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
  grid-gap: 2em;
}

.gridItem:nth-child(1){																																						
	grid-column: 1 / 3;
	display: flex;
	flex-direction: row;
  align-items: left;
}

.gridItem{
  width: 100%;
  height: auto;
}

.gridItem p{
  font-size: 20px;
}

//Flex
.flexContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  .flexItem{
    padding: 10px;
    text-align: center;
    width: 30%;
    min-width: 120px;
    .fas{
      color: $secundario;
    }
  }


}
.letrablanca{
  color: white !important;
}
.fondoblanco{
  background-color: white !important;
}

.fondonaranja{
  background-color: $principal;
  color: white;
}

.fondoazul{
  background-color: $secundario;
}

.fondogris{
  background-color: $colortexto;
}
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.titulosH1{
  font-size: 5em !important;
}


.contactform{
  margin-bottom: 3em !important;
  input, textarea{
    width: 40%;
    padding: 1em;
    margin: 0.8em;
    border: solid 1px $secundario;
    border-radius: 5px;
    &:focus{
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      border: solid 2px $principal;
    }
  }
  .button{
    background-color: $secundario;
    color: white;
    border:none;
    font-size: 1.5em;
    padding: 0.4em;
    margin-top: 0;
    &:hover{
      background-color: $principal;
      color: $secundario;
      border:none;
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.formMargin{
  margin-bottom: 4em;
  margin-top: 4em;
}
//boton de contacto (no esta en uso)
.contactbutton{
  margin: 5px !important;
  padding: 1em 1.8em;
  border: $colortexto solid 1px;
  background-color: $secundario;
  color: white;
  text-decoration: none;
  &:hover{
    color: white;
    background-color: $principal;
  }
}
